<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.admin.exam.core.mapper.ExamMapper">
  <resultMap id="BaseResultMap" type="xyz.fusheng.core.model.entity.Exam">
    <!--@mbg.generated-->
    <!--@Table ex_exam-->
    <id column="exam_id" jdbcType="BIGINT" property="examId" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="exam_description" jdbcType="VARCHAR" property="examDescription" />
    <result column="exam_type" jdbcType="TINYINT" property="examType" />
    <result column="is_public" jdbcType="TINYINT" property="isPublic" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="is_limit_time" jdbcType="TINYINT" property="isLimitTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="analysis" jdbcType="VARCHAR" property="analysis" />
    <result column="state" jdbcType="BOOLEAN" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_enabled" jdbcType="BOOLEAN" property="isEnabled" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="updater_name" jdbcType="VARCHAR" property="updaterName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    exam_id, exam_name, exam_description, exam_type, is_public, `password`, is_limit_time,
    start_time, end_time, analysis, `state`, remark, memo, version, is_enabled, is_deleted,
    creator_id, updater_id, creator_name, updater_name, created_time, updated_time
  </sql>

  <select id="getByPage" resultType="xyz.fusheng.core.model.vo.ExamVo">
    select e.*
    from ex_exam e
    where e.is_deleted = 0
    <if test="params.examName != null and params.examName != ''">
        and e.exam_name like concat(#{params.examName}, '%')
    </if>
    <if test="params.isPublic != null">
        and e.is_public = #{params.isPublic}
    </if>
    <if test="params.isLimitTime != null">
        and e.is_limit_time = #{params.isLimitTime}
    </if>
    <if test="params.creatorName != null">
        and e.creator_name like concat(#{params.creatorName}, '%')
    </if>
    <if test="params.isEnabled != null">
        and e.is_enabled = #{params.isEnabled}
    </if>
    <if test="params.examTime != null">
        and e.created_time between #{params.examTime[0], jdbcType=TIMESTAMP} and #{params.examTime[1], jdbcType=TIMESTAMP}
    </if>
    <if test="sortColumn !=null and sortColumn != ''">
        order by ${sortColumn} ${sortMethod}
    </if>
    limit #{index}, #{pageSize}
  </select>

  <select id="getCountByPage" resultType="int">
    select count(*)
    from ex_exam e
    where e.is_deleted = 0
    <if test="params.examName != null and params.examName != ''">
        and e.exam_name like concat(#{params.examName}, '%')
    </if>
    <if test="params.isPublic != null">
        and e.is_public = #{params.isPublic}
    </if>
    <if test="params.isLimitTime != null">
        and e.is_limit_time = #{params.isLimitTime}
    </if>
    <if test="params.creatorName != null">
        and e.creator_name like concat(#{params.creatorName}, '%')
    </if>
    <if test="params.isEnabled != null">
        and e.is_enabled = #{params.isEnabled}
    </if>
    <if test="params.examTime != null">
        and e.created_time between #{params.examTime[0], jdbcType=TIMESTAMP} and #{params.examTime[1], jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>
