<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.admin.exam.core.mapper.QuestionReplyMapper">
  <resultMap id="BaseResultMap" type="xyz.fusheng.core.model.entity.QuestionReply">
    <!--@mbg.generated-->
    <!--@Table ex_question_reply-->
    <id column="reply_id" jdbcType="BIGINT" property="replyId" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="paper_id" jdbcType="BIGINT" property="paperId" />
    <result column="exam_id" jdbcType="BIGINT" property="examId" />
    <result column="question_type" jdbcType="TINYINT" property="questionType" />
    <result column="user_options" jdbcType="VARCHAR" property="userOptions" />
    <result column="right_options" jdbcType="VARCHAR" property="rightOptions" />
    <result column="question_score" jdbcType="INTEGER" property="questionScore" />
    <result column="actual_score" jdbcType="INTEGER" property="actualScore" />
    <result column="is_right" jdbcType="TINYINT" property="isRight" />
    <result column="use_time" jdbcType="INTEGER" property="useTime" />
    <result column="reader_id" jdbcType="BIGINT" property="readerId" />
    <result column="reader_name" jdbcType="VARCHAR" property="readerName" />
    <result column="analysis" jdbcType="VARCHAR" property="analysis" />
    <result column="state" jdbcType="BOOLEAN" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="updater_name" jdbcType="VARCHAR" property="updaterName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    reply_id, question_id, user_id, paper_id, exam_id, question_type, user_options, right_options,
    question_score, actual_score, is_right, use_time, reader_id, reader_name, analysis,
    `state`, remark, memo, creator_id, updater_id, creator_name, updater_name, created_time,
    updated_time
  </sql>
</mapper>
