<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.article.core.mapper.ArticleMapper">

 <select id="pageArticle" parameterType="xyz.fusheng.core.model.base.PageData" resultType="xyz.fusheng.article.model.vo.ArticleVo">
    select a.article_id, a.article_title, a.author_id, a.article_image, a.article_desc,
    a.article_content, a.article_attachments, a.edit_content, a.edit_model,
    a.article_category, a.good_count, a.read_count, a.collect_count, a.comment_count,
    a.source_mark, a.article_source, a.state, a.remark, a.memo, a.is_top, a.is_enabled,
    a.creator_id, a.creator_name, a.updater_id, a.updater_name, a.created_time, a.updated_time,
    c.category_name
    from ar_article as a left join ar_category as c on a.article_category = c.category_id
    where a.is_deleted = 0 and c.is_deleted = 0
    <if test="params.articleTitle != null and params.articleTitle != ''">
        and a.article_title like CONCAT('%', #{params.articleTitle}, '%')
    </if>
    <if test="params.creatorName != null and params.creatorName != ''">
        and a.creator_name like CONCAT('%', #{params.creatorName}, '%')
    </if>
    <if test="params.articleCategory != null">
        and a.article_category = #{params.articleCategory}
    </if>
    <if test="params.isEnabled != null">
        and a.is_enabled = #{params.is_enabled}
    </if>
    <if test="params.articleTime!=null">
        and a.created_time between #{params.articleTime[0],jdbcType=TIMESTAMP} and
        #{params.articleTime[1],jdbcType=TIMESTAMP}
    </if>
    <if test="sortColumn!=null and sortColumn!=''">
        order by ${sortColumn} ${sortMethod}
    </if>
    limit #{index}, #{pageSize}
</select>

<select id="countArticleByPage" resultType="java.lang.Integer">
select count(*)
from ar_article as a left join ar_category as c on a.article_category = c.category_id
where a.is_deleted = 0 and c.is_deleted = 0
<if test="params.articleTitle != null and params.articleTitle != ''">
    and a.article_title like CONCAT('%', #{params.articleTitle}, '%')
</if>
<if test="params.creatorName != null and params.creatorName != ''">
    and a.creator_name like CONCAT('%', #{params.creatorName}, '%')
</if>
<if test="params.articleCategory != null">
    and a.article_category = #{params.articleCategory}
</if>
<if test="params.isEnabled != null">
    and a.is_enabled = #{params.is_enabled}
</if>
<if test="params.articleTime!=null">
    and a.created_time between #{params.articleTime[0],jdbcType=TIMESTAMP} and
    #{params.articleTime[1],jdbcType=TIMESTAMP}
</if>
</select>

<select id="getArticleById" resultType="xyz.fusheng.article.model.vo.ArticleVo">
select a.article_id, a.article_title, a.author_id, a.article_image, a.article_desc,
a.article_content, a.article_attachments, a.edit_content, a.edit_model,
a.article_category, a.good_count, a.read_count, a.collect_count, a.comment_count,
a.source_mark, a.article_source, a.state, a.remark, a.memo, a.is_top, a.is_enabled,
a.creator_id, a.creator_name, a.updater_id, a.updater_name, a.created_time, a.updated_time,
c.category_name as categoryName
from ar_article as a left join ar_category as c on a.article_category = c.category_id
where a.is_deleted = 0 and c.is_deleted = 0 and a.article_id = #{id}
</select>

</mapper>





