<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.article.core.mapper.CategoryMapper">

    <select id="getCategoryByPage" resultType="xyz.fusheng.core.model.vo.CategoryVo">
       select * from ar_category
       where is_deleted = 0
       <if test="params.categoryName!=null and params.categoryName!=''">
        and category_name like concat('%', #{params.categoryName}, '%')
       </if>
       <if test="params.level!=null">
        and level = #{params.level}
       </if>
       <if test="params.pid!=null">
        and pid = #{params.pid}
       </if>
       <if test="params.categoryTime!=null">
        and created_time between #{params.categoryTime[0],jdbcType=TIMESTAMP} and #{params.categoryTime[1],jdbcType=TIMESTAMP}
       </if>
       <if test="sortColumn!=null and sortColumn!=''">
        order by ${sortColumn} ${sortMethod}
       </if>
       limit #{index}, #{pageSize}
    </select>

    <select id="getCountByPage" resultType="int">
        select count(*)
        from ar_category
        where is_deleted = 0
        <if test="params.categoryName!=null and params.categoryName!=''">
            and category_name like concat('%', #{params.categoryName}, '%')
        </if>
        <if test="params.level!=null">
            and level = #{params.level}
        </if>
        <if test="params.pid!=null">
            and pid = #{params.pid}
        </if>
        <if test="params.categoryTime!=null">
            and created_time between #{params.categoryTime[0],jdbcType=TIMESTAMP} and #{params.categoryTime[1],jdbcType=TIMESTAMP}
        </if>
    </select>



</mapper>
