<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.user.core.mapper.UserMapper">

   <select id="getUserByPage" resultType="xyz.fusheng.core.model.vo.UserVo">
    select user_id, username, header, phone, mail, signature, description, realname,
    sex, address, lng, lat, github_id, state, remark, memo, version, is_enabled, is_deleted,
    creator_id, updater_id, creator_name, updater_name, created_time, updated_time from sys_user
    where is_deleted = 0
    <if test="params.username!=null and params.username!=''">
        and username like concat('%', #{params.username}, '%')
     </if>
     <if test="params.userTime!=null">
        and created_time between #{params.userTime[0],jdbcType=TIMESTAMP} and #{params.userTime[1],jdbcType=TIMESTAMP}
     </if>
     <if test="sortColumn!=null and sortColumn!=''">
        order by ${sortColumn} ${sortMethod}
     </if>
    limit #{index}, #{pageSize}
  </select>

  <select id="getUserCountByPage" resultType="java.lang.Integer">
    select count(*) from sys_user
    where is_deleted = 0
    <if test="params.username!=null and params.username!=''">
        and username like concat('%', #{params.username}, '%')
     </if>
     <if test="params.userTime!=null">
        and created_time between #{params.userTime[0],jdbcType=TIMESTAMP} and #{params.userTime[1],jdbcType=TIMESTAMP}
     </if>
  </select>

  <select id="selectRolesByUserId" resultType="xyz.fusheng.core.model.entity.Role">
    select r.* from sys_role r
    left join sys_user_role ur on ur.role_id = r.role_id
    where ur.user_id = #{userId}
  </select>

  <select id="selectMenusByUserId" resultType="xyz.fusheng.core.model.entity.Menu">
    select distinct m.* from sys_user_role ur
    left join sys_role_menu rm
    on ur.role_id = rm.role_id
    left join sys_menu m
    on rm.menu_id = m.menu_id
    where ur.user_id = #{userId}
  </select>

</mapper>
