<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.sys.core.mapper.DictTypeMapper">

   <select id="getByPage" resultType="xyz.fusheng.sys.model.vo.DictTypeVo" parameterType="xyz.fusheng.core.model.base.PageData">
    select *
    from sys_dict_type
    where is_deleted = 0
    <if test="params.dictName != null and params.dictName != ''">
        and dict_name like concat(#{params.dictName}, '%')
    </if>
    <if test="params.dictType != null and params.dictType != ''">
        and dict_type like concat(#{params.dictType}, '%')
    </if>
    <if test="params.creatorName != null">
        and creator_name like concat(#{params.creatorName}, '%')
    </if>
    <if test="params.isEnabled != null">
        and is_enabled = #{params.isEnabled}
    </if>
    <if test="params.dictTypeTime != null">
        and created_time between #{params.dictTypeTime[0], jdbcType=TIMESTAMP} and #{params.dictTypeTime[1], jdbcType=TIMESTAMP}
    </if>
    <if test="sortColumn !=null and sortColumn != ''">
        order by ${sortColumn} ${sortMethod}
    </if>
    limit #{index}, #{pageSize}
  </select>

  <select id="getCountByPage" resultType="java.lang.Integer" parameterType="xyz.fusheng.core.model.base.PageData">
    select count(*)
    from sys_dict_type
    where is_deleted = 0
    <if test="params.dictName != null and params.dictName != ''">
        and dict_name like concat(#{params.dictName}, '%')
    </if>
    <if test="params.dictType != null and params.dictType != ''">
        and dict_type like concat(#{params.dictType}, '%')
    </if>
    <if test="params.creatorName != null">
        and creator_name like concat(#{params.creatorName}, '%')
    </if>
    <if test="params.isEnabled != null">
        and is_enabled = #{params.isEnabled}
    </if>
    <if test="params.dictTypeTime != null">
        and created_time between #{params.dictTypeTime[0], jdbcType=TIMESTAMP} and #{params.dictTypeTime[1], jdbcType=TIMESTAMP}
    </if>
  </select>

</mapper>
